/* Custom styles for The Liquid Fortress EPUB */

/* Import Play font from Google Fonts for titles */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* Body text - standard readable serif */
body {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1em;
    line-height: 1.6;
    text-align: justify;
    margin: 5%;
}

/* Headings - Play font */
h1, h2, h3, h4, h5, h6 {
    font-family: "Play", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    text-align: left;
}

h1 {
    font-size: 2em;
    margin-top: 2em;
    page-break-before: always;
}

h2 {
    font-size: 1.5em;
    margin-top: 1.8em;
}

h3 {
    font-size: 1.2em;
}

/* Paragraphs */
p {
    margin-top: 0;
    margin-bottom: 0.8em;
    text-indent: 1.5em;
}

/* First paragraph after heading - no indent */
h1 + p, h2 + p, h3 + p {
    text-indent: 0;
}

/* Block quotes */
blockquote {
    margin: 1em 2em;
    font-style: italic;
    border-left: 3px solid #666;
    padding-left: 1em;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
}

/* Title page styling */
.title {
    font-family: "Play", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-top: 30%;
}

.author {
    font-family: "Play", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    text-align: center;
    margin-top: 2em;
}

/* Chapter styling */
.chapter {
    page-break-before: always;
}
